doctype html

div.wrapper
    div.auth
        div.auth-container
            div.logo-svg
                include ../../svg/logo.svg
            h1.logo Nookipedia Tasks

            include ../includes/modules/register-form
